.form-info input,
.form-info select {
  font-size: 1.2em;
}

.form-info cta-btn {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.rtp-wrapper {
  width: 90%;
}

.rtp-img-container {
  width: 180px;
  height: 250px;
}

.logo {
  width: auto;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 50px;
}

.header-contact {
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-right: 50px;
  float: right;
}

.form-group {
  padding: 10px 20px;
}

.form-info .icon {
  font-size: 1.8rem;
  width: 40px;
  padding-right: 10px;
}

.header {
  height: 60px;
  position: fixed;
  z-index: 9;
  width: 100%;
}

.rtp-container {
  margin: 50px 0;
}

.rtp-card-title {
  font-size: 2.0em;
}

.rtp-card-text {
  font-size: 1.1em;
}

.cta-btn {
  margin: 20px 0;
  padding: 20px 40px;
  font-size: 1.4em;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.process-title {
  font-size: 3.0em;
  padding: 30px 0;
}

.process-card-img {
  width: 30px;
  top: 60px;
  right: 20px;
}

.process .text-col {
  margin: 65px 0 50px 0;
}

.process-card-title {
  font-size: 1.3em;
}

.form-container {
  padding: 100px 0;
}

.process-card-text {
  font-size: 1.1em;
  width: 70%;
}

.process-title::after {
  width: 100px;
}

.customer-wrapper {
  width: 80%;
}

.customer-title {
  padding: 50px 0;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.customer-container {
  padding: 50px 0;
}

.customer-card {
  padding: 20px;
}

.process-container {
  padding: 50px 0;
}

.customer-card-text {
  height: 100px;
  padding-bottom: 10px;
}

.customer-card-title {
  font-size: 1.1em;
  padding-left: 70px;
}

.customer-card-subtitle {
  font-size: 0.9em;
  padding-left: 70px;
}

.customer-img {
  width: 60px;
  height: 60px;
}

.customer-info {
  height: 60px;
}

.contact-wrapper {
  height: 300px;
  width: 70%;
}

.info-text {
  font-size: 1.2em;
  padding-left: 40px;
}

.contact-info {
  height: 250px;
}

.contact-map {
  height: 250px;
}

.info-icon {
  width: 20px;
}

.contact {
  padding: 50px 0;
}

.contact-tile {
  font-size: 2.5em;
}

.footer-logo {
  width: 250px;
  height: auto;
}

.footer {
  padding: 20px 0;
}

.input-field {
  height: 60px;
  background-size: 20px;
  padding-left: 50px;
  background-position: 20px 20px;
}

.banner {
  padding-top: 60px;
}

.input-field.income {
  background-position:
    20px 20px,
    calc(100% - 20px) 22px;
  background-size:
    20px,
    15px;
}

.modal .form-group {
  padding: 0;
  text-align: center;
}

.product-container {
  padding: 50px 0;
}

.product-title {
  padding: 30px 0;
  font-size: 3.0em;
}

.product {
  height: 500px;
}

.product-card-title {
  font-size: 1.5em;
}

.product-card {
  height: 400px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.product-card:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.center-card {
  height: 430px !important;
  z-index: 1;
}

.product-title::after {
  width: 150px;
}

.list-group-item {
  font-size: 1.0em;
  padding: 10px 5px;
}

.map {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header-hotline {
  padding: 0 15px;
  font-size: 2.0em;
}
