
.product-card-footer {
  height: 15%;
}

.readmore-btn {
  font-size: 0.7em;
  font-weight: bolder;
}

.list-group-item {
  font-size: 0.8em;
  padding: 10px 5px;
}

.product-card-title {
  font-size: 1.3em;
}

.product-img {
  height: 30%;
}

.rtp-img-container {
  width: 180px;
  height: 250px;
}
