.cta-btn {
  margin: 10px 0;
  padding: 15px;
  font-size: 0.9em;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.rtp-wrapper {
  width: 100%;
}

.rtp-img-container {
  width: 75px;
  height: 80px;
}

.logo {
  width: 200px;
  height: auto;
}

.header {
  text-align: center;
}

.form-info input,
.form-info select {
  font-size: 0.8em;
}

.icon {
  font-size: 1.0rem;
  width: 30px;
  padding-right: 5px;
}

.form-group {
  margin-bottom: 1.0rem !important;
  padding: 0;
}

.rtp-container {
  margin: 20px 0;
}

.rtp-card-title {
  font-size: 1.3rem;
}

.rtp-card-text {
  font-size: 0.9em;
  padding: 10px 0;
}

.form-info .cta-btn {
  margin: 0 0 10px 0 !important;
  padding: 10px 20px;
  font-size: 0.8em;
}

.form-container {
  padding: 30px 0;
}

.process-card-img {
  width: 30px;
  top: 30px;
  right: 10px;
}

.process .text-col {
  margin: 35px 0 30px 0;
}

.process-title {
  font-size: 1.7em;
  padding: 20px 0;
}

.process-card-text {
  font-size: 0.9em;
  width: 90%;
}

.customer-wrapper {
  width: 100%;
}

.process-card-title {
  font-size: 1.2em;
}

.customer-title {
  padding: 30px 0;
  font-size: 1.4em;
}

.customer-container {
  padding: 30px 0;
}

.customer-card-text {
  height: 100px;
  padding-bottom: 10px;
}

.customer-info {
  height: 50px;
}

.customer-img {
  width: 50px;
  height: 50px;
}

.customer-card-title {
  font-size: 1.0em;
  padding-left: 60px;
}

.customer-card-subtitle {
  font-size: 0.8em;
  padding-left: 60px;
}

.customer-card {
  padding: 15px;
  width: 80%;
}

.contact-wrapper {
  height: 250px;
  width: 90%;
}

.contact-info {
  height: 180px;
  overflow: hidden;
}

.info-text {
  font-size: 0.7em;
  padding-left: 30px;
}

.info-icon {
  width: 15px;
  top: -5px;
}

.contact-map {
  height: 180px;
}

.contact-tile {
  font-size: 1.5em;
}

.contact {
  padding: 30px 0;
}

.footer-logo {
  width: 200px;
  height: auto;
}

.footer {
  padding: 10px 0;
}

.input-field {
  background-size: 15px;
  padding-left: 32px;
  background-position: 10px 8px;
}

.input-field.income {
  background-position:
    10px 8px,
    calc(100% - 8px) 10px;
  background-size:
    15px,
    10px;
}

.product-container {
  padding: 30px 0;
}

.product-title {
  padding: 20px 0;
  font-size: 1.5em;
}

.product-card {
  width: 80%;
  height: 250px;
  margin: 10px 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.product-card-title {
  font-size: 1.3em;
}

.list-group-item {
  font-size: 0.8em;
  padding: 5px 5px;
}

.second-rtp {
  padding-right: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.third-rtp {
  padding-left: 10px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.loading-img,
.success-img {
  width: 80px;
  height: 80px;
  border-width: 8px;
}

.noti-msg {
  font-size: 0.9em;
  padding: 10px 0;
}
